@using ServisVozila.Models
@model radnik
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ if (ViewBag.Novi)
    {
        <h2>Kreiranje novog radnika</h2>
    }
    else
    {
        <h2>Ažuriranje podataka o radniku</h2>
        <h3>@Model.imeRadnik @Model.prezimeRadnik</h3>
    }
}
@using (Html.BeginForm("Azuriraj", "Radnik", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite Podatke");

    if (!ViewBag.Novi)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.idRadnik, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.idRadnik, new { disabled = true, @class = "from-control" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.imeRadnik, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.imeRadnik, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.imeRadnik, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.prezimeRadnik, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.prezimeRadnik, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.prezimeRadnik, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.datRodenja, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.datRodenja, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.datRodenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.oibRadnik, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.oibRadnik, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.oibRadnik, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.email, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.email, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.brojTelefona, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.brojTelefona, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.brojTelefona, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.satnica, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.satnica, new { @class = "from-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.radnik_odjel, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.radnik_odjel, new { @class = "from-control" })
            @Html.ValidationMessageFor(model => Model.radnik_odjel, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>
                Spremi
            </button>
        </div>
    </div>
    @Html.ActionLink("Povratak bez spremanja", "PopisRadnika", "Radnik", new { @class = "btn btn-info btn-sm" })
}
