@using ServisVozila.Models
@model kvar
@{
    ViewBag.Title = "Briši";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @ViewBag.Title</h2>



<strong>Jeste li sigurni da želite obrisati uslugu @Model.nazivKvar (ID: @Model.idKvar)?</strong>

<br />
<br />
@using (Html.BeginForm("Brisi", "Usluge"))
{
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-ok" aria-hidden="false">
        </span>
        Izbriši
    </button>

    <br />
    <br />

    @Html.ActionLink("Odustani", "PopisUsluga", "Usluge", new { @class = "btn btn-info btn-sm" });
}
